# Binaries for programs and plugins
main
BrasilApi
*.exe
*.exe~
*.so
*.dylib
*.dll
*.log

# Ignore binary output folders
bin/
_docs/

# Ignore common editor/system specific metadata
.idea/
.vscode/
*.iml

# ENV
.env
